# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.egg-info/
dist/
rfp_intelligence_embedding_function/build/

# Virtual environments
venv/
env/
ENV/
*/.env
*.env

# IDE
.idea/

# Version control
.git/
.gitignore

# Environment files
rfp_intelligence_embedding_function/.env

# Tests
rfp_intelligence_embedding_function/test.py

# Documentation
README.md
*.md

rfp_intelligence_embedding_function/Dockerfile
.dockerignore

tests/
*.pyc

rfp_intelligence_embedding_function/json/

.vscode/
docs/

.coverage
*.log

*/build.sh
build.sh
